<ng-container *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</ng-container>

<ng-container *ngIf="isLearning()">
  <vocabulary-learning-card
    [vocabularyCard]="currentVocabularyCard()"
    [isCovered]="isCardCovered"
    [hasNext]="hasNext()"
    (uncoverVocabularyCard)="uncoverCard()"
    (nextVocabularyCard)="nextCard()"
  ></vocabulary-learning-card>

  <br>
  Number of cards: {{ numberOfVocabularyCards() }}
  <br>
  <button (click)="addCard()" mat-button>ADD</button>
</ng-container>

